{% load static %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Recipe Generator</title>{% endblock %}
  {% block navbar %}
    {% include  'navbar.html' %}
  {% endblock %}
</head>
<body>
  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>

