{% extends "base_generic.html" %}

{% block content %}


<h1>{{recipe.recipename}}</h1>
<p>{{recipe.timing}}</p>

<div>
    <h5>Enter amount to multiply serving size by:</h5>
    <div class="input-group mb-3">
        <form class="form-group" action="" method="post">
            {% csrf_token %}

            <label for="multiplier">Enter an amount to multiply serving size by: </label>
            <input id="multiplier" type="text" name="multiplier" value="{{ amount }}">
            <input type="submit" value="Save">
        </form>
    </div>
</div>

{% if multiplier != 1 %}
<div class="alert alert-primary" role="alert">
    The servings in this recipe are currently being multiplied by {{multiplier}}
</div>
{% endif %} 

<div>
    <div class="row">
        <div class="col-sm-6 rg_recipecards">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ingredients:</h5>
              {% for ingredient in ingredients %}
              <li class="card-text">{{ingredient}}</li>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-sm-6 rg_recipecards">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nutrition Facts</h5>
              {% for fact in nutritionfacts %}
              <li class="card-text">{{fact}}</li>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Instructions</h5>
        {% for instruction in instructions %}
            <p class="card-text">{{instruction}}</p>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}